.garage-title {
  color: #FFFFFF;
}

.form {
  padding: 15px;
}

#garage {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5px;

  .garage-title {
    margin: 3px;
    color: #464646;
  }
}

.garage-cars {
  outline: none;
  list-style: none;
  margin-left: -40px;

  .garage__item {
    margin-bottom: 20px;
    text-align: left;

    .btn {
      width: 80px;
      height: 25px;
    }

    .btn-engine {
      font-family: inherit;
      font-size: 20px;
      margin: 0;
      padding: 0;
      width: 25px;
      height: 35px;
      margin-right: 3px;
      border: none;
      border-radius: 3px;

      &:hover {
        cursor: pointer;
      }
    }

    .start-engine-btn {
      background-color: rgb(139, 29, 29);
    }

    .stop-engine-btn {
      background-color: rgb(14, 97, 28);
    }
  }
}

.garage-view {
  margin-left: 30px;

  .garage-forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .race-control {
    display: flex;
    justify-content: center;

    .btn {
      margin-right: 15px;
    }
  }
}

.road {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: dashed white 4px;
  width: 90%;

  .finish {
    width: 50px;
    height: 50px;
    font-size: 40px;
    line-height: 30px;
  }
}

.launch-pad {
  display: flex;

  .car {
    width: 80px;
    height: 45px;
  }

  .control-panel {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
  }
}
